.btn {
	border-radius: 0px;
	padding-bottom: 5px;
}

.clues-container {
	margin-bottom: 0.5em;
}


.btn-money {
	font-size: 2em;
	color: yellow;	
	width:3.5em;
	height:2.5em;
	margin-bottom:0.2em;
	margin-right:0em;
	margin-left: 0.5em;
	border: 2px solid black;
}



.btn-category {
	font-size: 1em;
	font-weight: bold;
	line-height:100%;
	color:white;
	width: 7em;
	height: 5em;
	background-color: #337ab7;
	white-space:normal !important;
	word-wrap: break-word;
	margin-bottom:1em;
	margin-right: 0.8em;
	margin-left: 1em;
	padding: 0px;
	border: 2px solid black;
}

.categories{
	margin-bottom: 1em;
}

.selected {
	background-color: red;
}


.square-column {
	font-size: 1em;
	width:100px;
	margin-right:0.8em;
	padding:0em;
}

.game-board {
	margin: 0 auto;
	background-color: gray;
	border-right: 2px solid black;
	border-left: 4px solid black;
	border-bottom: 4px solid black;
}

.current-answer {
	position: absolute;
	text-align: center;
}

.clue-screen {
	color: white;
	background-color:gray;
	border-right: 4px solid black;
	border-left: 2px solid black;
	border-bottom: 4px solid black;
	height: 466px;
}

.player-box {
	text-align: center;
	color: white;
	background-color: #337ab7;
	padding: 0px;
	border: 2px solid black;
}

.name {
	text-align: center;
	border-bottom: 1px solid black;
}

.money {
	text-align:center;
	font-size: 1.5em;
	color: yellow;
	border-top: 2px solid black;
}

.clue-box {
	white-space:normal !important;
	word-wrap: break-word;
	background-color: #337ab7;
	font-size: 1.5em;
	color: white;
	text-align: center;
	width: 24em;
	height: 16em;
	vertical-align: middle;
	display: table-cell;
}

.ss {
	margin-top: 50px;
}

.room-heading {
	border-bottom: 3px solid black;
}

.room-row {
	border-bottom: 1px solid #337ab7;
}
.room-row:hover {
	background-color: #335cd7;
	color: white;
	cursor: pointer;
}

.room-entry {
	border-right: 1px solid #337ab7;
}

.room-panel {
	padding-top: 0px;
	padding-bottom: 0px;
	overflow: auto;
	height: 30em;
	width: 100%;
}

.jumbotron-center {
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.welcome {
	margin-bottom: 1.5em;
}

.player-answering {
	border: 3px yellow solid;
}


.ready-start-button {
	width: 90%;
	height: 3em;
}

#answer {
	font-size: 1em;
	width: 100%;
	height: 4 em;
	margin-bottom: 6px;
	text-align: center;
}


.money-display {
	font-size: 3em;
	color: yellow;
}

hr {
	border: 2px solid black;
}
