.btn {
	border-radius: 0px;
	padding-bottom: 5px;
}

.clues-container {
	margin-bottom: 0.5em;
}


.btn-money {
	font-size: 2em;
	color: yellow;	
	width:3.5em;
	height:2.5em;
	margin-bottom:0.2em;
	margin-right:0em;
}



.btn-category {
	font-size: 1em;
	line-height:100%;
	color:white;
	width: 7em;
	height: 5em;
	background-color: #337ab7;
	white-space:normal !important;
	word-wrap: break-word;
	margin-bottom:0.2em;
	margin-right:0em;
	padding: 1px;
}

.categories{
	margin-bottom: 1em;
}




.selected {
	background-color: red;
}

.right-side {
	float: right;
}

.main {
	padding-left:0px;
}

.square-column {
	width:100px;
	margin-right:10px;
}